.landing-page {
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', sans-serif;
  }

  @font-face {
    font-family: 'Cinzel';
    src: url('/public/fonts/Cinzel-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* hero section */
  .hero-section {
    font-family: 'Cinzel', sans-serif;
    background: url('/public/shop.png') no-repeat center center; 
    background-color: #ffffff;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
  }
  
  .hero-section h1 {
    font-family: Cinzel, sans-serif;
    color: #ffffff;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
  }
  
  /* featured products */
  .new-arrivals {
    background-color: #ffffff;
    color: #000000;
    padding: 2em;
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  /* about section */
  .about-section {
    background-color: #ffffff;
    color: #000000;
    padding: 2em;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .about-section p {
    font-size: 1.2em;
  }
  
  