.landing-page {
    background-color: #000000;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* hero section */
  .hero-section {
    background: url('/public/grafiti.jpg') no-repeat center center; 
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-section h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
  }
  
  /* featured products */
  .featured-products {
    padding: 2em;
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  /* about section */
  .about-section {
    padding: 2em;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .about-section p {
    font-size: 1.2em;
  }
  