.dynamic-header-tab {
    background-color: #3d3d3d;
    font-family: Cinzel;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    transition: opacity 2s ease-in-out;
  }

  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  @font-face {
    font-family: 'Cinzel';
    src: url('/public/fonts/Cinzel-Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }