.dynamic-header-tab {
    background-color: #000;
    font-family: Cinzel;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }
  
  @font-face {
    font-family: 'Cinzel';
    src: url('/public/fonts/Cinzel-Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }